.time-segment {
    height: 20px;

    box-sizing: border-box;

    border-bottom: 1px solid var(--time-grid-line);
}


.time-segment--hour {
    border-top: 1px solid var(--time-grid-hour-line);
}


.time-segment--first {
    border-top: none;
}