.task-panel {
    display: flex;

    flex-direction: column;

    border: 1px solid var(--toolbar-border);

    border-radius: var(--radius-medium);

    overflow: hidden;
}


.task-panel-header {
    padding: 12px;

    display: flex;

    align-items: center;

    justify-content: center;

    background: var(--color-primary);

    color: var(--color-background);
}


.task-panel-content {
    flex: 1;

    padding: 12px;

    overflow-y: auto;
}