.day-column {

    position: relative;

    overflow:hidden;

}


.day-lines {

    position:absolute;

    inset:0;

    z-index:1;

}


.events-layer {

    position:absolute;

    inset:0;

    z-index:2;

}