.calendar-toolbar {
    display: flex;
    align-items: center;

    padding: 12px;
    margin: 10px 0;

    border: 1px solid var(--toolbar-border);
    border-radius: var(--radius-medium);
}

.calendar-toolbar h2 {
    margin-left: auto;
}

.calendar-toolbar button {
    padding: 8px 12px;
    margin-right: 8px;

    border: none;
    border-radius: var(--radius-small);

    color: var(--color-background);
    cursor: pointer;

    font-size: 16px;

    transition: background-color var(--transition-fast);
}

.calendar-toolbar button:not(.calendar-toolbar__add-button) {
    background-color: var(--color-primary);
}

.calendar-toolbar button:not(.calendar-toolbar__add-button):hover {
    background-color: var(--color-primary-hover);
}

.calendar-toolbar__add-button {
    padding: 0;

    background-color: var(--toolbar-add);

    font-size: 26px;
    font-weight: bold;
}

.calendar-toolbar__add-button:hover {
    background-color: var(--toolbar-add-hover);
}