.event-details-overlay {

    position: fixed;

    inset: 0;

    display: flex;

    justify-content: center;

    align-items: center;


    background: rgba(0,0,0,.45);


    z-index: 2000;

}



.event-details-modal {

    background: white;

    width: 400px;

    border-radius: 10px;

    padding: 20px;

    position: relative;

    z-index: 10000;

}



.event-details-info {

    margin-top:20px;

    display:flex;

    flex-direction:column;

    gap:8px;

}



.event-details-footer {


    margin-top:30px;


    display:flex;


    justify-content:flex-end;


    gap:10px;

}



.event-details-footer button {


    padding:8px 14px;


    border-radius:8px;


    border:none;


    cursor:pointer;


}