.time-segment {

    display:flex;

    height:20px;

}


.time-segment:nth-child(4n+1) {

    border-top:1px solid #999;

}


.time-segment-content {

    flex:1;

    border-bottom:1px solid #eee;

}