.event-block {

    position:absolute;

    left:90px;

    right:10px;


    padding:8px 10px;


    border-radius:8px;


    color:white;


    display:flex;

    flex-direction:column;


    gap:4px;


    overflow:hidden;


    box-sizing:border-box;


    font-size:14px;

}



.event-block__header {

    display:flex;

}



.event-block__type {

    font-size:11px;

    font-weight:bold;

    text-transform:uppercase;

    opacity:0.8;

}



.event-block__title {

    font-size:15px;

    font-weight:600;

}



.event-block__time {

    font-size:12px;

    opacity:0.85;

}



/*
 Typy wydarzeń
*/


.event-block--work {

    background:#0687dd;

}



.event-block--meeting {

    background:#9b59b6;

}



.event-block--personal {

    background:#4caf50;

}