.hour-row {
    display: flex;

    min-height: 60px;

    border-bottom: 1px solid #ddd;
}

.hour-row:last-child {
    border-bottom: none;
}

.hour-label {
    width: 70px;

    padding: 8px;

    border-right: 1px solid #ddd;

    color: gray;

    font-size: 13px;
}

.hour-content {
    flex: 1;
}